trigger:
  branches:
    include:
      - master

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self

- task: CopyFilesOverSSH@0
  inputs:
    sshEndpoint: 'LINUX_VM_SSH'
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: |
      **/*
      !.git/**/*
      !azure-pipelines.yml
    targetFolder: '/var/www/mywebsite'
    cleanTargetFolder: true
    overwrite: true
  displayName: Deploy website

- task: SSH@0
  inputs:
    sshEndpoint: 'LINUX_VM_SSH'
    runOptions: 'commands'
    commands: |
      sudo systemctl reload nginx